.error {
  border: 2px solid red;
}
.display-box {
  height: 20px;
  width: 100%;
}
.outline {
  border: 1px solid grey;
}
.container {
  margin-top: 10px;
}
#dropdown {
  border-top: none;
}
ul {
   list-style: none;
   padding: 0;
   margin-bottom: 0;
}
li {
  width: 100%;
}

li:hover {
  background: #ddd;
  cursor: pointer;
}

.display-box:hover {
  cursor: pointer;
}
